body {
	background-image: url("pozadina.jpg");
}
p {
	font-size: 20px;
	color: green;
	margin: 25px 200px 25px 25px;
	text-align: justify;
	width: 800px;
}
h1 {
	font-size: 40px;
	font-family: RominaKoscak;
	src:url("RominaKoscak.ttf");
	color: purple;    
}
h2 {
	font-size: 30px;
}
ul {
	font-size: 20px;
	color: purple;	
	ul {	padding:20px; /*centriranje*/
			margin-left: auto; 
			margin-right:auto;  
			width: 300px;
			} 
	li {	display:inline; 
			background-color:green;
			padding:25px;
			border: 2px solid black;
}
